* {    
    margin: 0;     
    padding: 0;    
}    
    
body{    
    background:url(pexels-janez-podnar-1424246.jpg);    
}    
    
.MainContainer{    
    padding:200px;    
    text-align:center;    
}    
    
.stopwatch{    
    padding:10px;    
    background: linear-gradient(top, #222, #444);    
    overflow: hidden;    
    display:inline-block;    
    border: 7px solid #eeeeee;    
    border-radius:20px;    
        
    box    
}    
    
.box{    
    width:40px;    
    height:40px;    
    font-size:50px;    
    overflow:hidden;    
        
    position: relative;    
    float:left;    
}    
    
.number {    
    width: 40px;    
    line-height:40px;    
    font-family: digital, arial, verdana;    
    text-align: center;    
    color:#fff;    
        
    position: absolute;    
    top: 0;    
    left: 0;    
        
    -webkit-animation: moveup 1s steps(10, end) infinite; /* Chrome, Safari, Opera */     
    animation: moveup 1s steps(10, end) infinite;    
}    
    
#stopwatch_controls label {    
    cursor: pointer;    
    padding: 5px 10px;    
    background: #eeeeee;    
    font-family: arial, verdana, tahoma;    
    font-size: 20px;    
    border-radius: 0 0 3px 3px;    
}    
    
input[name="controls"] {    
    display: none    
}    
    
#stop:checked~.stopwatch .number {    
    animation-play-state: paused;    
    -webkit-animation-play-state: paused;       
}    
#start:checked~.stopwatch .number {    
    animation-play-state: running;    
    -webkit-animation-play-state: running;    
}    
#reset:checked~.stopwatch .number {    
    animation: none;    
    -webkit-animation: none;    
}    
    
.moveuptens{    
    -webkit-animation: moveuptens 1s steps(10, end) infinite; /* Chrome, Safari, Opera */     
    animation: moveuptens 1s steps(10, end) infinite;    
    /*By default animation will be paused*/    
    animation-play-state: paused;    
    -webkit-animation-play-state: paused;       
}    
.moveupsix{    
    -webkit-animation: moveupsix 1s steps(6, end) infinite; /* Chrome, Safari, Opera */     
    animation: moveupsix 1s steps(6, end) infinite;    
    /*By default animation will be paused*/    
    animation-play-state: paused;    
    -webkit-animation-play-state: paused;       
}    
    
.onesPlaceSeconds {    
    animation-duration: 10s;    
    -webkit-animation-duration: 10s;    
}    
.tensPlaceSeconds {    
    animation-duration: 60s;    
    -webkit-animation-duration: 60s;    
}    
    
.onesPlaceMiliSeconds {    
    animation-duration: 1s;    
    -webkit-animation-duration: 1s;    
    } /*1/10th of .second*/    
        
.tensPlaceMiliSeconds {    
    animation-duration: 0.1s;    
    -webkit-animation-duration: 0.1s;    
}    
.hundredsPlaceMiliSeconds {    
    animation-duration: 0.01s;    
    -webkit-animation-duration: 0.01s;    
}    
    
.onesPlaceMinutes {    
    animation-duration: 600s;    
    -webkit-animation-duration: 600s;    
} /*60 times .second*/    
.tensPlaceMinutes {    
    animation-duration: 3600s;    
    -webkit-animation-duration: 3600s;    
} /*60 times .minute*/    
    
.onesPlaceHours {    
    animation-duration: 36000s;    
    -webkit-animation-duration: 36000s;    
} /*60 times .minute*/    
.tensPlaceHours {    
    animation-duration: 360000s;    
    -webkit-animation-duration: 360000s;    
} /*10 times .hour*/    
    
@-webkit-keyframes moveup {    
    0%   {top: 0px;}    
    100%{top:-400px;}    
}    
    
    
@keyframes moveup {    
    0%   {top: 0px;}    
    100%{top:-400px;}    
}    
    
@-webkit-keyframes moveuptens {    
    0%   {top: 0px;}    
    100%{top:-400px;}    
}    
    
    
@keyframes moveuptens {    
    0%   {top: 0px;}    
    100%{top:-400px;}    
}    
    
@-webkit-keyframes moveupsix {    
    0%   {top: 0px;}    
    100%{top:-240px;}    
}    
    
    
@keyframes moveupsix {    
    0%   {top: 0px;}    
    100%{top:-240px;}    
}    
    
@font-face {    
    font-family: 'digital';    
    src: url('DS-DIGI.TTF');        
}   